@page "/"

@using System.Text.Json
@using chapter09.Data

@inject HttpClient client

<h1>Upload File</h1>

@if (classificationResponseItem == null)
{
    <InputFile OnChange="HandleSelection" />
}
else
{
    <p>@classificationResponseItem.Confidence</p>
    <p>@classificationResponseItem.IsMalicious</p>
    <p>@classificationResponseItem.SHA1Sum</p>
}

@code {
    FileClassificationResponseItem classificationResponseItem;

    async Task HandleSelection(IEnumerable<IFileListEntry> files)
    {
        var file = files.FirstOrDefault();

        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            var content = new MultipartFormDataContent {
                { new ByteArrayContent(ms.GetBuffer()), "file", file.Name }
            };

            var response = await client.PostAsync("http://localhost:5000/upload/", content);

            var jsonResponse = await response.Content.ReadAsStringAsync();

            classificationResponseItem = JsonSerializer.Deserialize<FileClassificationResponseItem>(jsonResponse, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
        }
    }
}